In [1]:
import pandas as pd
import ipynbname

file1 = "D:\\DATA\\1050201New\\113校外實習書面審查作業\\0000_校庫資料_11210學10.學生實習人數及時數(10月填報).xlsx"

df1 = pd.read_excel(file1)

print(len(df1))
print(df1.columns)

df1.head()

80
Index(['代碼', '學校名稱', '學年度', '學院代碼', '學院', '單位代碼', '單位', '校區', '學制代碼', '學制班別',
       '統計處科系所代碼', '年級', '實習屬性代碼', '實習屬性', '學分',
       '是否屬專門職業技術人員(醫事人員、社會工作師)應考資格規定之實習', '實習場所國別代碼', '實習場所國別', '實習場所代碼',
       '實習場所', '證明文件類型代碼', '證明文件類型', '實習時間代碼', '實習時間', '本國學生數_男', '本國學生數_女',
       '本國學生數_總時數', '境外學生數_男', '境外學生數_女', '境外學生數_總時數', '補充說明'],
      dtype='object')

,代碼,學校名稱,學年度,學院代碼,學院,單位代碼,單位,校區,學制代碼,學制班別,...,證明文件類型,實習時間代碼,實習時間,本國學生數_男,本國學生數_女,本國學生數_總時數,境外學生數_男,境外學生數_女,境外學生數_總時數,補充說明
0,14523,國立高雄大學,111,126,人文社會科學院,6463,工藝與創意設計學系,校本部,u1,學士班,...,合約,2,暑假實習,NaN,1.0,160.0,NaN,NaN,NaN,NaN
1,14523,國立高雄大學,111,126,人文社會科學院,6463,工藝與創意設計學系,校本部,u1,學士班,...,合約,2,暑假實習,NaN,2.0,320.0,NaN,NaN,NaN,NaN
2,14523,國立高雄大學,111,126,人文社會科學院,6463,工藝與創意設計學系,校本部,u1,學士班,...,合約,2,暑假實習,7.0,13.0,4372.0,NaN,NaN,NaN,NaN
3,14523,國立高雄大學,111,126,人文社會科學院,6463,工藝與創意設計學系,校本部,u1,學士班,...,合約,2,暑假實習,NaN,NaN,NaN,NaN,1.0,160.0,NaN
4,14523,國立高雄大學,111,126,人文社會科學院,6463,工藝與創意設計學系,校本部,u1,學士班,...,合約,2,暑假實習,NaN,2.0,432.0,NaN,NaN,NaN,NaN

In [2]:
# 透過ipynbname模組取得檔名
nb_fname = ipynbname.name()
print(nb_fname)

try:   
    !jupyter nbconvert --output=$nb_fname --to python $nb_fname
    # nb_fname要當作變數帶入檔名，要加$
    # 轉檔後生成nb_fname.py
except:
    pass

130205_111學年實習課程書面審查作業

[NbConvertApp] Converting notebook 130205_111學年實習課程書面審查作業.ipynb to python
[NbConvertApp] Writing 622 bytes to 130205_111學年實習課程書面審查作業.py